/* container for demolitionVideo */
.demolitionVideo {
    grid-area: demolitionVideo;
    margin: 0 auto;
    max-width: 1079px;
}

/* size a position of video */
.demolitionVideo > video {
    height: 15vw;
    object-fit: cover;
    width: 100%;
    object-position: 0px 33%;
    border-radius: 5px;
}

/* size and position of content under video */
.demolitionVideo__content{
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {

    /* change size of video to look better on mobile */
    .demolitionVideo > video {
        height: auto;
        object-fit: cover;
        object-position: 0 -193px;
        height: 50vw;
      }
}
  