section {
    width: 100%;
}

.slider {
    --dimension: 250px;
    width: var(--dimension);
    height: var(--dimension);
    margin: 0 auto;
}

/* slideshow images */
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    max-height: 30vw;
    border-radius: 10px;
    max-width: 50vw;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    
    /* slideshow images */
    .image {
        max-height: 60vw;
        max-width: 65vw;
    }

    .right-arrow {
        right: 3vw;
    }

    .left-arrow {
        left: 3vw;
    }

    .left-arrow,
    .right-arrow {
        font-size: 7vw;
    }

    .slider {
        height: 50vh; /* height of slideshow container */
    }
}
